
.header{
  .mat-toolbar-single-row{
    padding: 0 64px;
  }

  .logo {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    display: flex;
    justify-content: space-between;
  }
  
}