<footer class="footer h-fit border-t border-l-neutral-400 py-12">
  <div class="mx-auto max-w-80 text-center">
    <div class="text-3xl app-name font-semibold">Pompeo</div>
    <p class="mt-3 text-gray">
      I have always striven to fix beauty in wood, stone, glass or pottery, that
      has been my creed.
    </p>
  </div>
  <div class="flex justify-between text-center max-w-6xl mt-10 mx-auto">
    <div>
      <mat-icon>mail_outline</mat-icon>
      <p class="font-semibold">EMAIL</p>
      <p class="mt-2 text-gray">{{ "pompeopotery@gmail.com" }}</p>
    </div>
    <div>
      <mat-icon>place</mat-icon>
      <p class="font-semibold">FIND</p>
      <p class="mt-2 text-gray">Central Park, Manhattan New York, 1101</p>
    </div>
    <div>
      <mat-icon>phone</mat-icon>
      <p class="font-semibold">CALL</p>
      <p class="mt-2 text-gray">+1 292 345 678</p>
    </div>
  </div>
</footer>
