<main class="home h-full">
  <div class="banner px-32 flex">
    <div class="banner__content my-auto flex flex-col">
      <div class="text">POMPEO POTTERY</div>
      <h1 class="banner__title">
        Unique Porcelain <span class="different-font">&</span> Stone Collection
      </h1>
      <p class="text-gray-400 font-medium">
        Unique & modern pottery made by our master in porcelain & stones
      </p>
    </div>
  </div>
  <div class="mt-10">
    <div class="flex flex-col items-center">
      <div>PRODUCT CATEGORIES</div>
      <h1>Porcelain <span class="different-font">&</span> Pottery</h1>
    </div>
  </div>
</main>
