<main class="home">
  <div class="banner h-96 px-32 flex">
    <div class="banner__content my-auto flex flex-col">
      <h2 class="banner__title">Vases</h2>
      <span class="text-gray-400 font-medium">
        The attractions of ceramics lie partly in its contradictions. It is both
        difficult and easy, with an element beyond our control. It is both
        extremely fragile and durable. Like 'Sumi' ink painting, it does not
        lend itself to erasures and indecision.
      </span>
    </div>
  </div>
  <div class="mt-10">
    <app-product></app-product>
  </div>
</main>
