/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Libre Franklin, "sans-serif" }

:root {
    --dim-grey: #6c6c6c;
    --firebrick: #ac1313;
    --white-smoke: #f8f6f4;
    --gainsboro: #dbdbdb;
    --light-coral: #d77474;
    --burlywood: #ebb96a;
    --black: black;
    --orange-red: #ff5f0f;
    --dark-grey: #a1a1a1;
    --grey: #858585;
    --dim-grey-2: #4d4d4d;
    --white: white;
  }
  